<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlink}}
</head>

<body>
    {{>navbar}}
  
  <div class="error">
    <div>
        <img src="imges/error-img.png" alt="">
    </div>
    <div>
         <h1>OOPS Page not found </h1>
         <a href="/"><button class="error_button">Go Home</button></a>
    </div>
  </div>

    
                       
    {{>footer}}

</body>

</html>