<!DOCTYPE html>
<html lang="en">

<head>
{{>headerlink}}
</head>

<body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto ">
                <div class="row">
                    <!-- left side div -->
                    <div>
                        <img src="imges/img-about.png" alt="" style="height: auto;width: 32vw;">
                    </div>

                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_right">
                        <div class="col-md-6 col-12 main_header_left">
                            <p>I am sangam verma a sasta coder 😎</p>
                            <h1>Happy to see <span class="spancolor">You<br></span>Know More 👇</span> </h1>
                            <a href="https://www.linkedin.com/in/sangam-verma-260458227/"><button>Click Me</button></a>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- footer  -->
{{>footer}}

</body>

</html>