<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlink}}
</head>

<body>
    {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto ">
                <div class="main_content">
                    <form class="temp_form">
                        <input type="text" id="cityname" placeholder="Enter your city name">
                        <input type="submit" value="search" id="submitBtn" autocomplete="off">
                    </form>
                </div>
                <div class="tempInformation">
                    <div class="top_layer">
                        <p id="day">Friy</p>
                        <p id="today_date">jhbckhudfb</p>
                    </div>
                    <div class="main_layer">
                        <p id="city_name">Get output:</p>
                        <div class="middle_layer data_hide">
                            <p id="temp"><span>0</span><sup>o</sup>C</p>
                            <p id="temp_status"><i class="fa-solid fa-cloud"></i></p>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>


    {{>footer}}
    <script src="js/main.js"></script>

    <script>

        const day = document.getElementById('day');
        const today_date=document.getElementById('today_date');

        const getCurrentDay = () => {
            var weekday = new Array(7);
            weekday[0] = "Sun";
            weekday[1] = "Mon";
            weekday[2] = "Tue";
            weekday[3] = "Wed";
            weekday[4] = "Thr";
            weekday[5] = "Fri";
            weekday[6] = "Sat";
            let currtTime = new Date();
            let currday= weekday[currtTime.getDay()];
            day.innerText=currday;

        };
       
        const getCurrMOnth = () => {
            var months = new Array(12);
            months[0] = "Jan";
            months[1] = "Feb";
            months[2] = "Mar";
            months[3] = "Apr";
            months[4] = "May";
            months[5] = "Jun";
            months[6] = "Jul";
            months[7] = "Aug";
            months[8] = "Sep";
            months[9] = "Oct";
            months[10] = "Nov";
            months[11] = "Dec";
            let currtmonth = new Date();
            let date = currtmonth.getDate();
            let month= months[currtmonth.getMonth()];
            today_date.innerText=`${date} ${month}`;
        };
        getCurrentDay();
        getCurrMOnth();

    </script>
</body>

</html>